<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="kr">
<head th:replace="~{commonLayout/head}">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div th:replace="~{commonLayout/sidebar}"></div>

    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav th:replace="~{commonLayout/loginTop}"></nav>
        <!-- Page content-->
        <div>
            <h2>내 정보</h2>
            <div>이름 :</div>
            <div th:text="${member.name}"></div>
            <div>전화번호 :</div>
            <div th:text="${member.phoneNumber}">
            </div>
            <div>이메일 :</div>
            <div th:text="${member.email}">
            </div>
        </div>

        <hr class="my-4">

        <div>
            <h3>내가 쓴 게시글</h3>

            <table>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.id}"></td>
                    <td th:text="${post.title}"></td>
                    <td><button th:onclick="|location.href='@{/posts/{postId}/delete(postId=${post.id})}'|">삭제</button></td>
                </tbody>
            </table>
        </div>

        <hr class="my-4">

        <div>
            <h3>내가 쓴 댓글</h3>

            <table>
                <thead>
                <tr>
                    <th>게시글 제목</th>
                    <th>내용</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:text="${comment.getPost().getTitle()}"></td>
                    <td th:text="${comment.getContent()}"></td>
                    <td><button th:onclick="|location.href='@{/comments/{commentId}/delete(commentId=${comment.id})}'|">삭제</button></td>
                </tbody>
            </table>
        </div>


    </div>
</div>
</body>
</html>