<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">전용본의 게시판</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/posts">전체 게시글</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/posts/add">게시글 등록</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
  </div>
</div>