<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item active"><a class="nav-link" th:href="@{/}">홈</a></li>
        <li class="nav-item active"><a class="nav-link" href="/members/add">회원가입</a></li>
        <li class="nav-item active"><a class="nav-link" href="/login">로그인</a></li>
      </ul>
    </div>
  </div>
</nav>